* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid rgba(81, 11, 186, 0.1);
  z-index: 99;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

.navbar__mobile, .navbar__sites {
  text-align: right;
}

.navbar__phone {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.navbar__first-site, .navbar__second-site {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.navbar__phone-info, .navbar__sites-info {
  display: block;
  font-size: 14px;
  color: #6b6b6b;
}

.menu {
  position: fixed;
  z-index: 0;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #507fe1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.menu_active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transsparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
  cursor: pointer;
}

.menu-button__line {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #89a9eb;
  margin: 3px 0;
  border-radius: 30%;
}

.logo__text {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.logo__description {
  margin-top: 5px;
  display: block;
  font-size: 14px;
  color: #6b6b6b;
}

body {
  font-family: Roboto, sans-serif;
}

.section {
  padding: 100px 0;
}

.section-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.section__title {
  margin-bottom: 100px;
}

.button-o {
  padding: 17px 22px;
  font-size: 12px;
  font-weight: bold;
  color: #507fe1;
  border: 2px solid #507fe1;
  text-transform: uppercase;
  cursor: pointer;
}

.button-o:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
  background-color: #507fe1;
}

.button {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-top: 70px;
  margin-left: auto;
  padding: 20px 35px;
  text-transform: uppercase;
  border: none;
  background-color: #2b54ac;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  background-color: #143b8d;
  color: #ffffff;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bg-secondary {
  background-color: #f1f1f1;
}

.input {
  height: 80px;
  border: 1px solid #dddddd;
  border-right: none;
}

.input:last-child {
  border-right: 1px solid #dddddd;
}

.checkbox {
  display: none;
}

.checkbox:checked + label:before {
  background: url(../img/check.jpg) right top no-repeat;
}

.checkbox:hover {
  cursor: pointer;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.checkbox-label:hover {
  cursor: pointer;
}

.checkbox-label::before {
  content: '';
  margin-right: 20px;
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
}

.hero {
  background: #f1f1f1 url(../img/hero-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 210px;
  padding-bottom: 100px;
}

.hero__title {
  display: block;
  text-align: center;
  font-size: 52px;
  margin-bottom: 30px;
  font-weight: 400;
  color: white;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-block__item {
  min-width: 70px;
  min-height: 70px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
  margin-bottom: 100px;
}

.features-block__text {
  color: #6b6b6b;
}

.demo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.demo-description {
  text-align: center;
  font-size: 17px;
  margin-bottom: 50px;
}

.demo__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.demo__item-video {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.offer-block {
  background: #fff url("../img/offer-bg.jpg") no-repeat center right;
  background-size: contain;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  padding: 60px;
}

.offer-block_calc-bg {
  background: #fff url("../img/offer-bg-calc.jpg") no-repeat center right;
}

.offer-block_price-bg {
  padding: 60px;
  background-size: contain;
  background: #fff url("../img/offer-bg-price.jpg") no-repeat center right;
}

.offer-block_faq {
  padding: 60px;
  background-size: contain;
  background: #fff url("../img/faq.jpg") no-repeat center right;
}

.offer__title {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.offer__subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 40px;
  max-width: 800px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  max-width: 900px;
  margin-bottom: 30px;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__label {
  display: block;
  font-size: 17px;
  text-align: left;
  margin-bottom: 15px;
}

.form__input {
  width: 100%;
  padding: 0 20px;
}

.form__input-faq {
  width: 200%;
  height: 200px;
  padding: 0 20px;
}

.form__group {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.form__button {
  height: 80px;
  margin: 0;
  width: 100%;
}

.form__policy {
  display: inline-block;
  text-align: left;
  font-size: 17px;
  margin-left: 45px;
  margin-top: 10%;
  color: #6b6b6b;
}

.reviews-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-slider__image {
  display: block;
  width: 70px;
  height: 70px;
  border: 2px solid #6a99e9;
  border-radius: 50%;
  margin: 20px auto;
}

.reviews-slider__name {
  font-weight: bold;
}

.reviews-slider__item {
  text-align: center;
  margin-bottom: 100px;
}

.reviews-slider__text {
  position: relative;
  font-size: 15px;
  font-style: italic;
  max-width: 370px;
  padding: 20px;
  background-color: #dddddd;
  border-radius: 10px;
}

.reviews-slider__text::after {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 10px;
  border: 20px solid transparent;
  border-top: 20px solid #dddddd;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts-block__item {
  text-align: center;
}

.contacts__image {
  margin-bottom: 25px;
}

.contacts__text {
  font-size: 16px;
}

.contacts__link {
  text-decoration: none;
  color: black;
}

.contacts__address {
  font-style: normal;
}

.footer {
  padding: 40px 0;
  background-color: #262626;
  color: #fff;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer__subtitle {
  display: block;
  margin-bottom: 48px;
}

.footer__copyright {
  color: #767676;
}

.footer__contacts {
  text-align: right;
}

.footer__phone {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer__mail {
  display: block;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */